<a href="https://colab.research.google.com/github/dlee1982/audit_accounting/blob/main/Data_Profiling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [27]:
data_ = pd.read_excel('fy2016_Vendor_data.xlsx')
data_.head()

  DEPT CODE    FY  FUND  ...   OBJ                     OBJECT NAME   AMOUNT
0       01A  2016    10  ...  5606  LAB AND HOSP SUPPLIES           9434.51
1       01A  2016    10  ...  4006  ANALYST & LABORATORY SERV        560.00
2       01A  2016    10  ...  4410  ALL OTHER EQUIPMENT FUEL        1420.73
3       01A  2016    10  ...  4711  REPAIRS TO BUILDINGS             609.33
4       01A  2016    10  ...  4721  REPAIRS TO EQUIPMENT             139.98

[5 rows x 14 columns]

In [67]:
def data_profiling(return_series: pd.Series): 
  """
  profiles the data into distinct categories: 
  1. >= 50
  2. >= 10 and <= 49.99: greater than or equal to 10 and less than or equal to 49.99
  3. >= 0.01 and <= 9.99 : greater than or equal to 0.01 and less than or equal ot 9.99
  4. = 0 : equal to 0
  5. <= -0.01 and <= -9.99 : less than or equal to -0.01 and less than or equal to -9.99
  6. <= -10 : less than or equal to -10
  """
  equal_50 = return_series[return_series >= 50].count()
  equal_10_49 = return_series[(return_series >= 10) & (return_series <= 49.99)].count()
  equal_1_9 = return_series[(return_series >= 0.01) & (return_series <= 9.99)].count() 
  equal_0 = return_series[return_series == 0].count()
  equal_neg_9 = return_series[(return_series <= -0.01) & (return_series <= -9.99)].count()
  equal_neg_10 = return_series[return_series <= -10].count()
  totals = [equal_50, equal_10_49, equal_1_9, equal_0, equal_neg_9, equal_neg_10]
  categories = ['>=50', '>= 10 and <= 49.99', '>= 0.01 and <= 9.99', '= 0', '<= -0.01 and <= -9.99', '<= -10']
  return pd.DataFrame({'Categories': categories, 'Profile_Totals': totals})

In [71]:
data_profiling(d_series)

              Categories  Profile_Totals
0                   >=50            4106
1     >= 10 and <= 49.99             588
2    >= 0.01 and <= 9.99             144
3                    = 0              45
4  <= -0.01 and <= -9.99              20
5                 <= -10              20