<a href="https://colab.research.google.com/github/dlee1982/audit_accounting/blob/main/High_Level_Data_Overview_Tests.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
def read_files(file_name): 
    """
    read in the workbooks individual worksheets and combine into one csv file
    """
    
    #reads in the current workbook and all the worksheets into a dictionary
    cur_read_file = pd.read_excel(file_name, sheet_name=None)
    combined_file = pd.DataFrame()
    
    #reads in each worksheets and combines into one workbook
    for sheet in cur_read_file: 
        cur_sheet = cur_read_file[f'{sheet}']
        combined_file = pd.concat([cur_sheet, combined_file])
        
    return combined_file

In [5]:
def data_profiling(return_series: pd.Series): 
  """
  profiles the data into distinct categories: 
  1. >= 50
  2. >= 10 and <= 49.99: greater than or equal to 10 and less than or equal to 49.99
  3. >= 0.01 and <= 9.99 : greater than or equal to 0.01 and less than or equal ot 9.99
  4. = 0 : equal to 0
  5. <= -0.01 and <= -9.99 : less than or equal to -0.01 and less than or equal to -9.99
  6. <= -10 : less than or equal to -10
  """
  
  equal_50 = return_series[return_series >= 50].count()
  equal_10_49 = return_series[(return_series >= 10) & (return_series <= 49.99)].count()
  equal_1_9 = return_series[(return_series >= 0.01) & (return_series <= 9.99)].count() 
  equal_0 = return_series[return_series == 0].count()
  equal_neg_9 = return_series[(return_series <= -0.01) & (return_series <= -9.99)].count()
  equal_neg_10 = return_series[return_series <= -10].count()
  totals = [equal_50, equal_10_49, equal_1_9, equal_0, equal_neg_9, equal_neg_10]
  categories = ['>=50', '>= 10 and <= 49.99', '>= 0.01 and <= 9.99', '= 0', '<= -0.01 and <= -9.99', '<= -10']
  return pd.DataFrame({'Categories': categories, 'Profile_Totals': totals})

In [4]:
data_ = read_files('fy2016_Vendor_data.xlsx')
data_.head()

  DEPT CODE    FY  FUND  ...   OBJ                     OBJECT NAME     AMOUNT
0       95F  2016    10  ...  4040  COURT APPOINTED ATTORNEYS       102993.24
1       95F  2016    10  ...  4930  TRANSCRIPTS                      12630.08
2       95F  2016    10  ...  4930  TRANSCRIPTS                      18001.37
3       95F  2016    10  ...  4040  COURT APPOINTED ATTORNEYS        40426.50
4       95F  2016    10  ...  4040  COURT APPOINTED ATTORNEYS        55953.12

[5 rows x 14 columns]

In [22]:
data_profiling(data_['AMOUNT'])

              Categories  Profile_Totals
0                   >=50           49115
1     >= 10 and <= 49.99           17309
2    >= 0.01 and <= 9.99            4007
3                    = 0             735
4  <= -0.01 and <= -9.99             547
5                 <= -10             547